<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'nav-link', data: { 'turbo-method': :delete } %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
  <% end %>
  </li>
</ul>

<h1>My Projects</h1>

<% @projects.each_with_index do |project, index| %>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <%= button_tag class: 'accordion-button collapsed', type: 'button',
                       data: { bs_toggle: 'collapse', bs_target: "#collapse#{index}" },
                       aria: { expanded: 'false', controls: "collapse#{index}" }  do %>
          <%= project.name.capitalize %>
          <%= project.status %>
        <% end %>
      </h2>
      <div id="collapse<%= index %>" class="accordion-collapse collapse"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <% project.tasks.each do |task| %>
              <li><%= link_to task.name.capitalize, project_task_path(project_id: project.id, id: task.id) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
